/* your styles go here */

/*images - resizing*/

.projectIcons {
  height: 350px;
  width: 100%;
}

.devIcons {
	height: 12em;
    max-width: 150%;
    width: 11em;
}

.profile-img {
	height: 370px;
    width: 80%;
    margin-right: 15%;
    margin-top: 10%;
}

.dog-pic {
	width: 70%;
}